#main-header img {
  width: 100%;
  height: 100%;
}

.bg-black {
  background: #000;
}

.bg-light-grey {
  background-color: lightgrey;
}

.bg-dark-magenta {
  background-color: darkmagenta;
}

#main-header .port-item {
  width: 25%;
  height: 100%;
}

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

#github-social-href:hover, #contact-submit:hover {
  opacity: 0.8;
}

.progress-bar-step {
  width: 2px;
  background-color: white;
}

.card-zoom:hover {
  opacity: 0.6 !important;
  transition-duration: 200ms !important;
}

@media(min-width: 1199px) {
  .port-item {
    padding-bottom: 3em !important;
  }
}
